<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
    <h1>메인페이지</h1>
    <h3>2xx - 성공</h3>
    <ul>
        <li><a href="/statuscodes/200">200 반환 페이지</a></li>
        <li><a href="/statuscodes/201">201 반환 페이지</a></li>
        <li><a href="/statuscodes/202">202 반환 페이지</a></li>
        <li><a href="#">204 반환 페이지</a></li>
    </ul>
    <h3>3xx - 리다이렉션</h3>
    <ul>
        <li>영구 리다이렉션
            <ul>
                <li><a href="#">301 반환 페이지</a></li>
                <li><a href="#">308 반환 페이지</a></li>
            </ul>
        </li>
        <li>일시적인 리다이렉션
            <ul>
                <li><a href="#">302 반환 페이지</a></li>
                <li><a href="#">307 반환 페이지</a></li>
                <li><a href="#">303 반환 페이지</a></li>
            </ul>
        </li>
        <li>기타 리다이렉션
            <ul>
                <li><a href="#">300 반환 페이지</a></li>
                <li><a href="#">304 반환 페이지</a></li>
            </ul>
        </li>
    </ul>
    <h3>4xx - 클라이언트 오류</h3>
    <ul>
        <li><a href="#">400 반환 페이지</a></li>
        <li><a href="#">401 반환 페이지</a></li>
        <li><a href="#">403 반환 페이지</a></li>
        <li><a href="#">404 반환 페이지</a></li>
    </ul>
    <h3>5xx - 서버 오류</h3>
    <ul>
        <li><a href="#">500 반환 페이지</a></li>
        <li><a href="#">503 반환 페이지</a></li>
    </ul>
</body>
</html>